<div class="row mb-5">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="display-4">{{page_title}}</h1>
                <p class="lead">Puedes visualizar tus clientes y darle mantenimiento a sus datos</p>
                <p>
                    <a class="btn btn-primary btn-lg mr-3" [routerLink]="['/clientes']">Ver Clientes</a>
                </p>
            </div>
        </div>
    </div>
</div>